@charset "UTF-8";

/// Convert pixel units to rem|em units with a px fallback.
///
/// @access private
///
/// @param {Number} $val
/// @param {Number} $base [config-get('i-base-em')]
@function fallback-to-px($val, $base: config-get("i-base-em")) {
  @if type-of($val) != "string" {
    @if not unitless($val) {
      $val: strip-units($val);
    }
  }

  @if not unitless($base) {
    $base: strip-units($base);
  }

  $output: ();

  @if type-of($val) == "string" {
    @if $val == "auto" or $val == "!important" {
      $output: join($val, $val);
      @return $output;
    }
  } @else {
    @if $val == 0 {
      $output: join(0, 0);
    } @else if $val {
      $output: join(($val / $base) * 1, $val + "px");
    } @else {
      $output: join($val, $val);
    }

    @return $output;
  }

  @warn "#{$val} is not a valid value";
  @return false;
}
