@charset "UTF-8";

/// Returns the legacy value for a given box-model
///
/// @access private
///
/// @param {String} $box
@function legacy-box($box) {
  $box: unquote($box);

  @if $box == padding-box {
    $box: padding;
  }

  @if $box == border-box {
    $box: border;
  }

  @if $box == content-box {
    $box: content;
  }

  @return $box;
}
