@charset "UTF-8";

/// Replaces ending of text with "..." when it
/// no longer fits in the container element.
///
/// @example scss - Usage
///   .text-container {
///     @extend %dotdotdot;
///   }
@mixin dotdotdot() {
  max-width: 100%;          /// Disallow expansion beyond parent container
  overflow: hidden;         /// Must be different from 'visible'
  text-overflow: ellipsis;  /// This is where the magic happens
  white-space: nowrap;      /// Allow one line of text only
}
