@charset "UTF-8";

/// Convert pixels to ems
/// eg. for a relational value of 12px write em(12) when the parent is 16px.
///
/// @param {String} $prop
/// @param {Number} $pxval
/// @param {Number} $base  if you like to change the base px config-get("i-base-em")
///
/// @example scss - Usage
///   .unit {
///     width: em(16);
///   }
///
/// @example css - CSS Output
///   .unit {
///     width: 16px;
///     width: 1em;
///   }
@mixin em($prop, $pxval, $base) {
  $px-list: ();
  $em-list: ();

  @each $val in $vals {
    $calcs: fallback-to-px($val, em, $base);
    $px-list: append($px-list, nth($calcs, 1));
    $em-list: append($em-list, nth($calcs, 2));
  }

  #{$prop}: $px-list;
  #{$prop}: $em-list;
}
