@charset "UTF-8";

/// Namespace
$config-namespace: "i-" !global;

/// Colors
$black: #000;
$white: #fff;
$gray20: #333;

$media-expressions: ();

@include config-set("color-black", $black, true);
@include config-set("color-white", $white, true);

/// Global variable for em.
@include config-set("base-em", 16px, true);

@include config-set("background-clip", "padding-box", true);
@include config-set("background-origin", "content-box", true);
@include config-set("background-size", 100% auto, true);

@include config-set("border-radius", rem(5), true);
@include config-set("border-opacity", "padding-box", true);


@include config-set("box-shadow-inset", null, true);
@include config-set("box-shadow-h-offset", 0, true);
@include config-set("box-shadow-v-offset", 0, true);
@include config-set("box-shadow-blur", 5px, true);
@include config-set("box-shadow-spread", null, true);
@include config-set("box-shadow-color", $gray20, true);

