@charset "UTF-8";

/// Enables hyphenation for text.
///
/// @example scss - Usage
///   .text-container {
///     @include hyphens(auto);
///   }
@mixin hyphens($hyphenation: manual) {
  /// none | manual | auto
  @include prefixer(hyphens, $hyphenation, webkit moz ms spec);

  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
}
